
#icon{
    

    &__html{
        color: #f42a2a;
    }

    &__css{
        color: #379AD6;
    }   

    &__sass{
        color: #CD669A;
    }

    &__bootstrap{
        color: #533B78;
    }

    &__git{
        color: #F05030;
    }   

    &__github{
        color: #000;
    }   

    &__js{
        color: #E8D44D;
    }

    &__vue{
        color: #3FB27F;
    }
}

